/* =====================
   Portfolio Page Layout
   ===================== */
html, body {
    margin: 0;
    height: 100%;

    color: #cccccc;
    text-align: justify;

    justify-content: center;
    scroll-behavior: smooth;
    background-color: #353535;
	font-family: Verdana, sans-serif;
}
.pageContentContainer {
    margin: 0 auto;
    max-width: 1200px;
    text-align: justify;
    justify-content: center; 
}



/* ==============================
   Portfolio Navagation Bar Style
   ============================== */
.navagationBarContainer {
    top: 0;
	margin: 0;
    width: 100%;
    height: 120px;
    z-index: 9999;
    position: fixed;
    background-color: #202020;
}
.navagationBar{
    height: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
	align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

/*#region Navigation Bar Brand*/
.brandHeader {
    margin: 5px 10px;
    text-decoration: none;
    display: inline-block;
}
.brandName {
    font-weight: 700;
    font-size: 2.5rem;    
    letter-spacing: 2px;

    margin: 0;
    display: block;
    color: #0077ff;
    text-decoration: none;
}
.brandTitle {
    font-weight: 300;
    color: #cccccc;
    margin: 5px 0 0 0;  
}
.typingCursor {
    left: -4px;
    position: relative;
    display: inline-block;
    animation: blink 0.7s step-start infinite;
}
@keyframes blink {
    50% { opacity: 0; }
}
/*#endregion*/

/*#region Navigation Bar Social*/
.navItems {
    margin: 0;
	padding: 0;
    display: flex;
    list-style: none;
    margin-left: auto;
}
.navItems li {
	position: relative;
}
.socialNavItem{
    width: 50px;
	height: 50px;
    margin: 5px 10px;
    display: inline-block;
    background-size: contain;
    background-position: center;
	background-repeat: no-repeat;
	transition: background-image 0.3s ease-in-out;
}
#linkedin {
	background-image: url('/src/assets/images/logos/Blue_Linkedin.png');
}
#linkedin:hover {
	background-image: url('/src/assets/images/logos/Red_Linkedin.png');
}
#github {
	background-image: url('/src/assets/images/logos/Blue_Github.png');
}
#github:hover {
	background-image: url('/src/assets/images/logos/Red_Github.png');
}
#x {
	background-image: url('/src/assets/images/logos/Blue_X.png');
}
#x:hover {
	background-image: url('/src/assets/images/logos/Red_X.png');
}
#resume {
    background-image: url('/src/assets/images/icons/Blue_Resume.png');
}
#resume:hover {
    background-image: url('/src/assets/images/icons/Red_Resume.png');
}
/*#endregion*/

/*#region Navigation Bar Hamburger*/
.hamburger {
    gap: 10px;
    width: 50px;
    height: 95px;
    display: none;
    cursor: pointer;
    align-items: center; 
    flex-direction: column;
    justify-content: center;
}
.hamburger div {
    width: 40px;
    height: 2px;
    border-radius: 2px;
    transform-origin: center;
    background-color: #fff;
    transition: all 0.4s ease;
}
.hamburger.open div:nth-child(1) {
    transform: rotate(45deg) translate(8.5px, 8.5px);
}
.hamburger.open div:nth-child(2) {
    opacity: 0;
}
.hamburger.open div:nth-child(3) {
    transform: rotate(-45deg) translate(8.5px, -8.5px);
}
@keyframes socialSlideOutRight {
    0%   { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(120px); opacity: 0; }
}
@keyframes backSlideInLeft {
    0%   { transform: translateX(-50%) translateX(-50px); opacity: 0; }
    100% { transform: translateX(-50%) translateX(0); opacity: 1; }
}
@keyframes socialSlideInLeft {
    0%   { transform: translateX(120px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}
@keyframes backSlideOutLeft {
    0%   { transform: translateX(-50%) translateX(0); opacity: 1; }
    100% { transform: translateX(-50%) translateX(-50px); opacity: 0; }
}
/*#endregion*/



/* ======================
   Portfolio Footer Style
   ====================== */
.pageFooterContainer {
    width: 100%;
    height: 50px;
    display: flex;

    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    background-color: #202020;
}
.pageFooter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



/* =================================
   Mobile Responsive Portfolio Style
   ================================= */
@media screen and (max-width: 1024px) {
    /*#region Navigation Bar*/
    .navItems {
        left: 0;
        gap: 15px;
        top: 120px;
        opacity: 0;
        width: 100%;
        max-height: 0;

        overflow: hidden;
        position: absolute;
        align-items: center;
        flex-direction: row;
        transform-origin: top;
        justify-content: center;
        background-color: #202020;
        will-change: max-height, opacity;
        transition: max-height 0.7s ease, opacity 0.5s ease 0.1s;
    }
    .navItems.show {
        opacity: 1;
        max-height: 200px;
    }
    .navItems li {
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.6s ease;
    }
    .navItems.show li {
        opacity: 1;
        transform: translateY(0);
    }
    .hamburger {
        display: flex;
        margin: 5px 10px;
    }
    /*#endregion*/
}