/*  ===============
	General Webpage 
	=============== */
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	color: white;
	hyphens: auto;
	line-height: 1.5em;
	text-align: center;
	align-items: center;
	word-spacing: 0.01em;
	letter-spacing: normal;
	justify-content: center;
	background-color: #353535;
	font-family: Verdana, sans-serif;
}

/*  ======================
	Page Content Animation
	====================== */
.pageContent {
	will-change: opacity;
	opacity: 0;
	transition: opacity 0.5s ease;
}
.body-animate-in .pageContent {
	opacity: 1;
}
.body-animate-out .pageContent {
	opacity: 0;
}

/*  =================
	Main Body Content
	================= */
.projectContent {
	margin: 0 auto;
	padding: 0 15%;
	max-width: 1800px;
}

/*  ==============
	Info Group Box
	============== */
.infoBox {
	margin: 0 auto;
	padding: 0 15%;
	max-width: 1800px;
}
.infoContainer {
	background-color: #454545;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	padding: 1rem 1.25rem;
	border-radius: 8px;
	margin: 1rem 0;
	width: 100%;

	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem 2rem;

	justify-content: center;
}
.infoGroup {
	display: flex;
	flex-direction: column;
	flex: 1 1 200px;  
	min-width: 180px;
}
.infoItem {
	display: flex;
	justify-content: center;
}
.icons {
	width: 65px;
	height: 65px;
	margin-bottom: 0px;
}
.infoItem p {
	font-size: 1.2rem;
	padding-bottom: 12px;
}

/*  ==================
	Divider and Header
	================== */
.divider {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: #0066ff;
	font-size: 40px;
	padding-bottom: 10px;
	justify-content: flex-end;
	justify-content: flex-start;
}
.divider hr {
	flex: 1;
	border: none;
	height: 3px;
	border-radius: 10px;
	background-color: #0066ff;
}

/*  ============
	Text Content  
	============ */
.sectionContent {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
}
.sectionContent p {
	padding-bottom: 15px;
}

/*  =============
	Code Terminal  
	============= */
.codeTerminal {
	background-color: #1e1e1e;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	width: 100%;
	margin: auto;
}
.codeHeader {
	background-color: #252525;
	padding: 0.75rem 1rem;
	font-size: 1rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.ToggleBtn {
	background: none;
	border: none;
	color: #9a4dff;
	font-size: 1rem;
	cursor: pointer;
}
.codeContent {
	max-height: 0;
	overflow: hidden;
	word-wrap: normal; 
	transition: max-height 0.6s ease, padding 0.6s ease;;
}
.codeContent.expanded {
	max-height: 600px;
	overflow: auto;
	overflow-x: auto;
	overflow-y: auto;
}
.codeContent pre {
	white-space: pre;
	margin: 0;
	padding: 1rem 0;
	min-width: max-content;
	display: block;
	font-family: monospace;
}

/*  ============== 
	Footer Section 
	============== */
.footer {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #202020;
}

/*  ==================== 
	Responsive Portfolio 
	==================== */
@media (max-width: 1080px) {
	.projectContent {	
		padding: 0 15%;
	}
}